.title {
  background: whitesmoke;
  font-size: 50px;
  text-align: center;
  padding: 27px;
  font-family: monospace;
}

.input-content {
  margin-top: 50px;
}

.blog-title {
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
}

.blog-list-group {
  padding:0;
  margin-top: 10px;
}

.title-group {
  margin-bottom:0.5rem;
}

.blog-datecreated {
  text-align: end;
  font-weight: 100;
  font-size: 13px;
  font-family: -webkit-body;
  color: darkgray;
}

.li.list-group-item {
  margin-bottom:5px;
}

.edit {
  cursor: pointer;
}
.blog-delete {
  text-align:right;
}

button.btn.btn-secondary {
  margin-right: 5px;
}

button.btn.btn-danger.col-6 {
  left: 2px;
}
.modal-content-2 {
  font-family: Arial, Helvetica, sans-serif;
   width: 400px;
   padding: 30px;
   text-align: left;
    background: ghostwhite;
   border-radius: 10px;
   box-shadow: 0 20px 75px rgba(0, 0, 0, 0.13);
   color: #666;
}
